
body {
    font-size: 16pt;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: 22pt;
}

.mobile-only {
    display: none !important;
}

#content {
    flex-direction: row;
}

#main {
    padding: 25px;
    max-width: 900px;
}

#title {
    align-items: center;
    text-align: center;
}

#title .content {
    align-items: center;
    text-align: center;
}

#toggle-content-button {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#toggle-content-button:hover {
    background-color: rgba(69, 69, 69, 0.7);
    --image-colour: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
