<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        
        <link rel="stylesheet" href="style/main.css" />
        <link rel="stylesheet" media="screen and (min-width: 426px)" href="/style/devices/desktop.css" />
        <link rel="stylesheet" media="screen and (max-width: 425px)" href="/style/devices/mobile.css" />
    </head>
    <body>
        {{ !base }}
    </body>
</html>
