<div class="section">
    <h1>Perrin Swanson</h1>
    <p>Software developer by day, musician by night (and sometimes vice versa)</p>
</div>

<br />

<div class="section">
    <h2>Check out my code!</h2>
    <a href="https://github.com/perrinswanson">github.com/perrinswanson</a>
</div>

<div class="section">
    <h2>Check out my music!</h2>
    <a href="https://perrinswanson.bandcamp.com/">perrinswanson.bandcamp.com</a>
</div>

<br />

<div class="section">
    <h2>Say hello!</h2>
    <a href="mailto:perrinswanson@gmail.com">perrinswanson@gmail.com</a>
</div>
