
% rebase('base.py', title='Perrin Swanson')

<div id="background"></div>

<script src="javascript/stars.js"></script>

% if mode == 'gay':
    <script src="javascript/pride.js"></script>
% else:
    <script src="javascript/auroras.js"></script>
% end

<div id="main">
    <div id="title" class="section">
        <h1>Perrin Swanson</h1>
        <div class="content">
            <p>Software developer by day, musician by night (and sometimes vice versa)</p>
            <p class="secondary-text">he/them • Vancouver, Canada</p>
        </div>
    </div>
    
    <div id="content">
        <div class="section-list">
            <div id="about" class="section">
                <h2>About me!</h2>
                <div class="content secondary-text">
                    <p>
                        I'm a software developer, music writer and player, hiker/backpacker, public transit enthusiast, fantasy book reader, and gamer of both the board and video varieties.
                    </p>
                    <p>
                        I graduated with distinction from Kwantlen Polytechnic University in 2019, receiving a Bachelor of Technology in Information Technology.
                        I'm currently a member of the Richmond-Delta Youth Orchestra board of directors, and have volunteered as a percussionist for over ten years.
                        I've hiked the West Coast Trail four times, and done dozens of other hikes around south-western BC.
                    </p>
                    <p>
                        There's not much else to see here at the moment, but feel free to check out some of the stuff I've worked on as well as my music!
                    </p>
                </div>
            </div>
        </div>
        <div class="section-list">
            <div id="work" class="section">
                <h2>Check out my work!</h2>
                <div class="content">
                    <div>
                        <a href="https://bctracker.ca">BCTracker</a>
                        <span class="secondary-text">• Full stack developer</span>
                    </div>
                    <div>
                        <a href="https://salussafety.io">SALUS</a>
                        <span class="secondary-text">• iOS developer</span>
                    </div>
                </div>
            </div>
            <div id="music" class="section">
                <h2>Check out my music!</h2>
                <div class="content">
                    <a href="https://perrinswanson.bandcamp.com/">Bandcamp</a>
                    <a href="https://soundcloud.com/perrinswanson">Soundcloud</a>
                </div>
            </div>
            <div id="contact" class="section">
                <h2>Say hello!</h2>
                <div class="content">
                    <a href="https://www.instagram.com/perrinswanson/">Instagram</a>
                    <a href="https://ca.linkedin.com/in/perrin-swanson-468b30109">LinkedIn</a>
                    <hr />
                    <a href="mailto:perrinswanson@gmail.com">perrinswanson<wbr />@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="toggle-content-button" onclick="toggleContent()">
        <div class="visible">
            % include('components/svg.py.html', name='visible')
        </div>
        <div class="visible mobile-only">Hide page</div>
        <div class="hidden">
            % include('components/svg.py.html', name='hidden')
        </div>
        <div class="hidden mobile-only">Show page</div>
    </div>
</div>

<script>
    // Script for content toggle
    document.getElementById("main").classList.add("content-visible");
    function toggleContent() {
        document.getElementById("main").classList.toggle("content-visible");
        document.getElementById("main").classList.toggle("content-hidden");
    }
</script>
