
% rebase('base.py', title='Perrin Swanson')

<div class="section">
    <h1>Perrin Swanson</h1>
    <p class="secondary-text">Software developer by day, musician by night (and sometimes vice versa)</p>
</div>

<br class="desktop-only" />

<div class="section">
    <h2>Check out my code!</h2>
    <a class="secondary-text" href="https://github.com/perrinswanson">github.com/perrinswanson</a>
</div>

<div class="section">
    <h2>Check out my music!</h2>
    <a class="secondary-text" href="https://perrinswanson.bandcamp.com/">perrinswanson.bandcamp.com</a>
</div>

<br class="desktop-only" />

<div class="section">
    <h2>Say hello!</h2>
    <a class="secondary-text" href="mailto:perrinswanson@gmail.com">perrinswanson@gmail.com</a>
    <br />
    <a class="secondary-text" href="https://twitter.com/perrinswanson">Twitter</a>
    <br />
    <a class="secondary-text" href="https://ca.linkedin.com/in/perrin-swanson-468b30109">LinkedIn</a>
</div>
